<header>

  <h3>Sterns & Caulfield - Affordable luxury URL Shortening</h3>

  <nav class="nav">
    <ul>
      <li><a href="../register">Register</a></li>
      <li><a href="../login">Login</a></li>
    </ul>
  </nav>

</header>
