  <h3><strong>Sterns & Caulfield</strong> - <em>Affordable luxury URL Shortening</em></h3>
    <% if (!users) { %>
      <p>Welcome, please <a href="/login">login</a></p>
    <% } else { %>
      <form action="/logout" method="POST">
      <%= users.email %><input type="submit" value="Logout">
      </form>
    <% } %>
