<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
  <header>
    <% include ./partials/_header %>
  </header>
  <body style="font-size:20px; padding:50px;">
    <% if (!users) { %>
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="example@abc.xyz" style="width: 300px">
      <input type="password" name="password" placeholder="********" style="width: 300px">
      <input type="submit" value="Login">
    </form>
    <% } %>
  </body>
  <footer>
    <% include ./partials/_footer %>
  </footer>
</html>
