<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/_head %>
  </head>

  <header>
    <% include ./partials/_header %>
  </header>

  <body style="font-size:20px; padding:50px;">

    <form action="/urls" method="POST" style="margin:10px;">
      <label for="longUrl">Enter a URL:</label>
      <input id="longUrl" type="text" name="longUrl" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>

  <footer>
    <a href="/urls">See full list of shortened URLs</a>
    <% include ./partials/_footer %>
  </footer>

</html>
