<!-- urls_index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>

  <% include ./partials/_head %>

</head>

<body>
  <ul>
    <% for (let url in urls) { %>
    <li>URL: <%= urls[url] %></li>
    <% } %>
  </ul>
</body>

<footer>

  <% include ./partials/_footer %>

</footer>

</html>
