<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>

  <header>
    <% include ./partials/_header %>
  </header>

  <body>
    <ul>
      <% for (let url in urls) { %>
      <li>
        <form method="POST" action="/urls/<%= url %>/delete"><%= urls[url] %> &rarr; <%= url %> <a href="/urls/<%= url %>/">Edit</a>
          <input type="submit" value="Delete">
        </form>
      </li>
      <% } %>
    </ul>
  </body>

  <footer>
    <% include ./partials/_footer %>
  </footer>
</html>
